<div id="blog-landing" class="section">
  <div class="container">
    <div class="title-block">
      <!-- <div class="divider"></div> -->
      <h1 class="align-text-center title">the grapefruit blog</h1>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="two columns">
      </div>
      <div class="eight columns">
        <div class="row categories">
          <div class="four columns category">
            education
          </div>
          <div class="four columns category">
            engineering
          </div>
          <div class="four columns category">
            design
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
